body{
	background-color: #e0dfdc;
}
h1{
	text-align: center;
	padding: 3px;
}
h5{
	text-align: center;
	padding-top: 5px;
}

.container {
        display: flex;
      }
img {
	height: 80%;
	width: 100%;
	 display: block;
 	 margin-left: auto;
 	 margin-right: auto;
}
h4{
	text-align: center;

}
section{
	justify-content: center;
	display: flex;
	background-color: #fff;
	align-items: center;
}
section2{
	justify-content: center;
	display: flex;
	align-items: center;
}
